<form (ngSubmit)="onSignUp()">
    <div>
      <label>First Name:</label>
      <input type="text" name="firstName" [(ngModel)]="firstName" required />
    </div>
  
    <div>
      <label>Last Name:</label>
      <input type="text" name="lastName" [(ngModel)]="lastName" required />
    </div>
  
    <div>
      <label>Email:</label>
      <input type="email" name="email" [(ngModel)]="email" required />
    </div>
  
    <div>
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="password" required />
    </div>
  
    <div>
      <label>Phone Number:</label>
      <input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber" />
    </div>
  
    <div class="mb-3">
        <label class="form-label">Role</label>
        <select name="role" class="form-select" [(ngModel)]="role" required>
          <option value="">Select Role</option>
          <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
        </select>
      </div>
  
    <button type="submit">Sign Up</button>
  </form>
  